@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';


.main_loginPage_exit {
  @include button;
  display: block;
  text-decoration: none;
  right: 2em;
  margin: 0;
  font-size: 1.2vw;
  padding: 5px 20px;
}

.main {
  height: auto;

  .logOutButton {
    height: 6vh;
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
  }

  &_div_loginPage {
    height: auto;
    width: 100%;
    text-align: center;

    &_form {
      @include form;
      height: auto;
      width: 100%;
      border-radius: 0;
      padding: 0;
      display: inline-block;
      text-align: center;
      background-color: transparent;

      &_mainDiv {
        width: 80%;
        min-height: 86vh;
        display: inline-block;
        margin-top: 7vh;
        margin-bottom: 7vh;

        &_sidebar {
          width: 14%;
          height: 86vh;
          border-right: 1px solid var(--border-color-opacity);
          display: inline-block;
          vertical-align: top;
          padding-right: .3%;
          transition: border-right 200ms linear;

          &_ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            &_li {
              width: 100%;
              height: 5%;
              display: flex;
              align-items: center;
              margin-top: .5rem;

              a {
                width: 95%;
                display: flex;
                text-decoration: none;
                border-radius: 10px;
                padding: .3rem;


                p {
                  @include font;
                  font-size: 1em;
                  margin: 0;
                }

                div {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 0 .5em;

                  img {
                    width: 1em;
                    display: inline-block;
                  }
                }
              }

              a:hover {
                background: var(--background-color);
                border: 1px solid var(--border-color);
              }
            }
          }
        }

        &_content {
          width: 85%;
          height: 95%;
          display: inline-block;
          margin-left: 0.4%;
          min-height: 79.9vh;

          &_div {
            @include form;
            background-color: var(--background-color-opacity);
            width: 98%;
            min-height: 79.9vh;
            justify-content: inherit;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1130px) {
  .main_div_loginPage_form_mainDiv {
    width: 100%;
  }

  .main_loginPage_exit {
    font-size: 1.4vw;
  }

  .main_div_loginPage_form_mainDiv_sidebar_ul_li{
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 860px) {
  .main_loginPage_exit {
    font-size: 1.4vw;
    padding: 8px 15px;
  }

  .main_div_loginPage_form_mainDiv_sidebar_ul_li{
    a{

      p{
        display: none;
      }

      div{
        display: flex;  
        justify-content: center;
        width: 100%;

        img{
          width:6vw;
        }
      }
    }
  }
  
  .main_div_loginPage_form_mainDiv_sidebar{
    width:10%;
  }

  .main_div_loginPage_form_mainDiv_content{
    width: 89%;
  }
}

@media screen and (max-width: 680px) {
  .main {
    height: auto;
  }
}