@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';


.main_loginPage_exit {
  @include button;
  display: block;
  text-decoration: none;
  right: 2em;
  margin: 0;
  font-size: 1.2vw;
  padding: 5px 20px;
}

.main {
  height: auto;

  .logOutButton {
    height: 6vh;
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
  }

  &_div_loginPage {
    height: auto;
    width: 100%;
    text-align: center;

    &_form {
      @include form;
      height: auto;
      width: 100%;
      border-radius: 0;
      padding: 0;
      display: inline-block;
      text-align: center;
      background-color: transparent;

      &_mainDiv {
        width: 80%;
        min-height: 86vh;
        display: inline-block;
        margin-top: 7vh;
        margin-bottom: 7vh;

        &_content {
          width: 85%;
          height: 95%;
          display: inline-block;
          margin-left: 0.4%;
          min-height: 79.9vh;

          &_div {
            @include form;
            background-color: var(--background-color-opacity);
            width: 98%;
            min-height: 79.9vh;
            justify-content: inherit;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1130px) {
  .main_div_loginPage_form_mainDiv {
    width: 100%;
  }

  .main_loginPage_exit {
    font-size: 1.4vw;
  }
}

@media screen and (max-width: 860px) {
  .main_loginPage_exit {
    font-size: 1.4vw;
    padding: 8px 15px;
  }

  .main_div_loginPage_form_mainDiv_content{
    width: 89%;
  }
}

@media screen and (max-width: 720px) {
  .main_loginPage_exit {
    padding: 4px 6px;
    font-size: 2vw;
  }
}
@media screen and (max-width: 680px) {
  .main {
    height: auto;
  }
  .main_loginPage_exit {
    font-size: 3vw;
    padding: .5rem .7rem;
    border-radius: 50%;
  }
  .main_div_loginPage_form_mainDiv {
    margin-bottom: 1vh;
    min-height: 92vh;
  }
  .main_div_loginPage_form_mainDiv_content{
    min-height:91vh;
  }
  .main_div_loginPage_form_mainDiv_content_div{
    min-height:91vh;
  }
}
@media screen and (max-width: 620px) {
  .main_div_loginPage_form_mainDiv {
    margin-bottom: 7vh;
    min-height: 86vh;
  }
  .main_div_loginPage_form_mainDiv_content{
    min-height:86vh;
  }
  .main_div_loginPage_form_mainDiv_content_div{
    min-height:86vh;
  }
}
@media screen and (max-width: 545px) {
  .main_div_loginPage_form_mainDiv_content{
    width:100%;
  }
}