@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';

.messageItem {
  text-align: left;
  padding: .7em;
  border: 2px solid var(--border-color);
  border-radius: 30px;
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  transition: border 200ms linear;
  text-decoration: none;
  margin: .2rem;
}

.userInfo {
  width: 100%;
  display: flex;

  .message {
    width: 80%;
  }

  .user {
    display: flex;
    align-items: center;
    width: 3em;

    img {
      width: 3em;
      height: auto;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid var(--border-color);
      transition: border 200ms linear;
    }
  }
}

.userMessage {
  font-size: 1vw;
  color: var(--border-color);
  transition: color 200ms linear;
  margin-left: .3rem;
}

.messageUser {
  font-size: 1vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80%;
}

.nameDate {
  display: flex;
  width: 100%;
}

.dataName {
  display: flex;
  width: 68%;
  height: auto;
  margin-left: .3rem;

  h6 {
    @include font;
    margin: 0;
    display: inline-block;
    color: var(--border-color);
    transition: color 500ms linear;
    font-size: 1.2vw;
  }
}

.dataDate {
  height: auto;
  display: flex;
  height: auto;
  width: 32%;

  p {
    @include font;
    font-size: .7vw;
    margin: 0;
    font-weight: normal;
  }
}

.lastMessage {
  @include font;
  font-size: 1rem;
  margin-top: .4rem;
  display: flex;
  word-break: break-all;
  opacity: 0.5;
  margin-left: .2rem;
  width: 100%;
}

@media screen and (max-width: 1130px) {
  .dataDate {
    p{
      font-size: .9vw;
    }
  }
  .userMessage {
    font-size: 1.2vw;
  }
  .messageUser {
    font-size: 1.2vw;
  }
  .dataName {
    h6{
      font-size: 1.5vw;
    }
  }
}
@media screen and (max-width: 860px) {
  .lastMessage{
    display: none;
  }
  .dataDate{
    display: none;
  }
  .nameDate{
    height: 100%;
  }
  .dataName{
    height: 100%;
    align-items: center;
    margin-left: .7rem;
    width: 100%;
    h6{
      width: 100%;
    }
  }
}
@media screen and (max-width: 680px) {
  .userInfo{
    justify-content: center;
  }
  .message{
    display: none;
  }
}
@media screen and (max-width: 620px) {
  .message{
    display: block;
  }
  .lastMessage{
    display: flex;
  }
  .dataDate{
    display: flex;
  }
  .nameDate{
    height: auto;
  }
  .dataName{
    h6{
      font-size: 3vw;
    }
  }
  .dataDate {
    p{
      font-size: 2vw;
    }
  }
  .userMessage {
    font-size: 2.5vw;
  }
  .messageUser{
    font-size: 2.5vw;
  }
}