@import './variables';

@mixin font {
  color: $font-color;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

@mixin button {
  border: 2px solid rgba(102, 252, 241, 0.5);
  background-color: rgb(31, 40, 51);
  color: $font-color;
  border-radius: 15px;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 2em 0;
  padding: 8px 20px;

  &:hover {
    color:rgb(102, 252, 241);
  }
}

@mixin form {
  background-color: rgba(31, 40, 51, 0.6);
  border-radius: 20px;
  border-color: $border-color;
  box-shadow: 0 0 20px $border-color;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em 0;
}

@mixin input {
  background: none;
  color: #fff;
  border-color: $border-color;
  box-shadow: 0 0 7px $border-color;
  text-align: center;
  height: 2em;
  margin: 2.5em 0;
  border: 1px solid rgba(102, 252, 241, 0.5);
  border-radius: 5px;
}