@import './variables';

@mixin font {
  color: var(--font-color);
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  transition: color 500ms linear;
}

@mixin button {
  border: 2px solid var(--border-color-button);
  background-color: var(--background-color);
  color: var(--font-color);
  border-radius: 15px;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 2em 0;
  padding: 8px 20px;
  transition: border 500ms linear,
    background-color 300ms linear,
    color 500ms linear;

  &:hover {
    color: var(--border-color);
    transition: color 200ms linear;
  }
}

@mixin form {
  background-color: var(--background-color-opacity);
  border-radius: 20px;
  border-color: var(--border-color);
  box-shadow: 0 0 20px var(--border-color);
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em 0;
  transition: border-color 500ms linear,
    background-color 300ms linear,
    color 500ms linear;
}

@mixin input {
  background: none;
  color: var(--font-color);
  border-color: var(--border-color);
  box-shadow: 0 0 7px var(--border-color);
  text-align: center;
  height: 2em;
  margin: 2.5em 0;
  border: 1px solid rgba(102, 252, 241, 0.5);
  border-radius: 5px;
  transition: border-color 500ms linear,
    color 500ms linear;
  &::-webkit-input-placeholder{
    color: var(--font-color)
  }
  &::-moz-placeholder {
    color: var(--font-color)
  }
}