@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';

.friends {
  width: 63vw;
  height: 79vh;
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  box-sizing: border-box;
  transition: border 300ms linear;

  .friendsList {
    height: 100%;
    width: 70%;
    border-right: 1px solid var(--border-color);
    transition: border-right 300ms linear;

    .frinedsListFriend {
      height: 90%;
    }
  }

  .friendsNavbar {
    width: 30%;

    .friendsNavbarDiv {
      min-height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;


    }
  }
}

.friendsButtons {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 80%;
  height: 30vh;

  li {
    border-radius: 15px;
    padding: 0.3rem;
    margin-top: 1rem;

    a {
      @include button;
      font-size: 1.1vw;
      text-decoration: none;
      display: block;
      margin: 0;
    }
  }
}

.friendListH2 {
  display: flex;
  height: 10%;
  border-bottom: 1px solid var(--border-color);
  justify-content: center;
  align-items: center;
  transition: border-right 300ms linear;

  h2 {
    @include font;
  }
}

.friendListDiv {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;

  .allFriends {
    width: 90%;
    height: 90%;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
  }
}

.noFriendsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .noFriends {
    @include font;
    margin: 0;
  }
}

.buttons {
  display: flex;
  width: 50%;
  justify-content: space-around;

  a {
    display: flex;
    width: 40%;
  }
}

.delete {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: center;
  @include button;
  display: inline-block;
  font-size: .8rem;
  margin: 0;
}

a.sendMessageA {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: center;
  @include button;
  display: inline-block;
  font-size: .8rem;
  margin: 0;
}
.frinedsListFriend{
  overflow-y: auto;
}

.searchInput{
  @include input;
  text-align: left;
  width: 100%;
}

@media screen and (max-width: 1130px) {
  .friends {
    width: 96%;
  }

  .friendsButtons {
    li {
      a {
        font-size: 1.5vw;
      }
    }
  }
}

@media screen and (max-width: 1130px) {
  .delete {
    font-size: 1.6vw;
  }

  a.sendMessageA {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 680px) {
  .friends {
    height: 85vh;
  }
}

@media screen and (max-width: 620px) {
  a.sendMessageA {
    padding: 0;
    font-size: 1.5rem;
  }

  .delete {
    padding: 0;
    font-size: 1.5rem;
  }

  .friends {
    height: 79.9vh;

    .friendsList {
      width: 85%;
    }

    .friendsNavbar {
      width: 15%;
    }
  }

  .friendsButtons {
    width:100%;
    
    li{
      width: auto;
      a{
        display: flex;
        justify-content: center;
        padding: 1rem .1rem;
        font-size: 1.5rem;
      }
    }
  }
}