@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';

.main_registration_exit {
  @include button;
  text-decoration: none;
  position: absolute;
  top: 1.4em;
  left: 1.5em;
}

.main_div_registration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85%;
  width: 100%;


  &_form {
    @include form;
    flex: 1;
    height: 100%;
    width: 35%;
    margin-top: 3rem;

    &_h2 {
      @include font;
      text-align: center;
      width: 100%;
    }

    &_input_email {
      margin-bottom: 0 !important;
    }

    &_input_email,
    &_input_login,
    &_input_password,
    &_input_repeat_password {
      @include input;
    }
    &_input_password{
      width: 100%;
    }

    &_div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.5em;
      width: calc(100% + 1.5em);

      &_img {
        width: 1.5em;
        margin-left: 4px;
        cursor: pointer;
      }
    }

    &_button {
      @include button;
      display: block;
      text-decoration: none;
    }
  }
}

.formContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:70%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 920px) {
  .main_div_registration_form {
    margin-top: 3rem;
    width: 60%;
  }
}

@media screen and (max-width: 680px) {
  .main {
    height: 100vh;
  }
}

@media screen and (max-width: 560px) {
  .main_div_registration_form {
    width:90%;
  }
}