@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';

.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--background-color-opacity);
  display: none;
  transition: background 400ms linear;
}

.myModalContent {
  padding: 25px;
  background: var(--background-color);
  border-radius: 16px;
  min-width: 250px;
  border: 2px solid var(--border-color-button);
  box-shadow: 0 0 20px var(--border-color);
  transition: border 400ms linear,
    box-shadow 350ms linear;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}