@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';

.editPhoto {
  width:500px;
  height: 500px;

  img {
    width: 100%;
    height: 100%;
  }
  .EditPhotoInput {
    @include button;
  }
}