@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';
.header {
  height:6vh;
  background-color: $bg-color;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;

  &_info {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    &_icon {
      height: 100%;
      display: inline-block;
      
      img{
        height: 100%;
      }
    }

    &_name {
      display: inline-block;

      p {
        @include font;
        padding: 0;
        margin: 0;
      }
    }
  }
}