@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';

.user {
  width: 100%;
  height: 13%;
  margin-bottom: 1rem;
  padding: .5rem;
  border: 2px solid var(--border-color);
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  transition: border 200ms linear;

  a {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    .photo {
      img {
        width: 2.5rem;
        height: 2.5rem;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid var(--border-color);
        transition: border 300ms linear;
      }
    }

    .info {
      margin-left: 1rem;
      text-align: left;

      .name {
        @include font;
        font-size: 1rem;
        padding: 0;
        margin: 0;
        color: var(--border-color);
        transition: color 500ms linear;
      }

      .quote {
        @include font;
        font-size: .8rem;
        font-weight: normal;
        padding: 0;
        margin: 0;
        margin-left: .4rem;
      }
    }
  }
}

.add {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;

  .addButton {
    @include button;
    display: inline-block;
    font-size: .8rem;
    margin: 0;
  }

  .checkMark {
    display: inline-block;
    height: 100%;
  }
}

@media screen and (max-width: 620px) {
  .add {
    width: 30%;
  }
}