@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';

.user {
  width: 100%;
  height: 13%;
  margin-bottom: 1rem;
  padding: .5rem;
  border: 2px solid rgb(102, 252, 241);
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  a {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    .photo {
      img {
        width: 2.5rem;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid rgb(102, 252, 241);
      }
    }

    .info {
      margin-left: 1rem;
      text-align: left;

      .name {
        @include font;
        font-size: 1rem;
        padding: 0;
        margin: 0;
        color: rgb(102, 252, 241);
      }

      .quote {
        @include font;
        font-size: .8rem;
        font-weight: normal;
        padding: 0;
        margin: 0;
        margin-left: .4rem;
      }
    }
  }

  .add {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;

    .addButton {
      @include button;
      display: inline-block;
      font-size: .8rem;
      margin: 0;
    }

    .checkMark {
      display: inline-block;
      height: 100%;
    }
  }
}