@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';

.header {
  height: 6vh;
  background-color: var(--background-color-opacity);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  transition: background-color 200ms linear;

  &_info {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    &_icon {
      height: 100%;
      display: inline-block;

      img {
        height: 100%;
        transition: 10s linear;
      }
    }

    &_name {
      display: inline-block;

      p {
        @include font;
        padding: 0;
        margin: 0;
      }
    }
  }
}

* {
  box-sizing: border-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: var(--background-body);
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  transition: backgrounde-color 500ms linear,
    border 200ms linear;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: var(--border-color);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear,
    background-color 500ms linear;
}

.checkbox:checked+.label .ball {
  transform: translateX(24px);
  background-color: var(--border-color);
}

.fa_moon {
  color: var(--border-color);
  font-style: normal;
  transition: color 500ms linear;
}

.fa_sun {
  color: var(--border-color);
  font-style: normal;
  transition: color 500ms linear;
}

.toggleButton {
  display: flex;
  width: 50%;
  justify-content: end;
  align-items: center;
  margin-right: 2rem;
}

.fas.fa_sun:before {
  content: "\f185";
  font-size: 1rem;
}

.fas.fa_moon:before {
  content: "\f186";
  font-size: 1rem;
}

.fas {
  font-weight: 900;
}

.fa,
.far,
.fas {
  font-family: "Font Awesome 6 Free";
}
@media screen and (max-width: 525px) {
  .header_info{
    width:70%;
  }
  .toggleButton{
    width: 30%;
  }
}