@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';

.editProfile {
  width: 100%;
  height: 100%;

  .editProfileContent {
    width: 100%;
    height: 100%;

    div {
      display: flex;
      align-items: center;

      h4 {
        @include font;
        font-size: 1.3rem;
      }

      input {
        @include input;
        width: 100%;
        text-align: left;
        padding: 2px 5px;
      }
    }

    .divSaveButton {
      display: flex;
      justify-content: end;
      .saveButton {
        @include button;
        margin: 0;
      }
    }
  }
}